<mat-toolbar color="primary" class="header-toolbar">
  <!-- Clickable Logo to go to Home -->
  <button mat-button class="logo" routerLink="/home">
    itxi
  </button>
  <span class="spacer"></span>

  <!-- Cart Icon with Badge -->
  <button mat-icon-button routerLink="/cart" [matBadge]="cartItemCount || 0" matBadgeColor="accent" matBadgeHidden="cartItemCount === 0">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <!-- User Menu: Shows Login/Register for guests or Account options for logged-in users -->
  <ng-container *ngIf="isAuthenticated; else guestLinks">
    <mat-menu #accountMenu="matMenu">
      <ng-container *ngIf="userRole === 'admin' || userRole === 'weather-manager'">
        <!-- Admin Options -->
        <button mat-menu-item *ngIf="userRole === 'admin'" routerLink="/admin">
          <mat-icon>supervisor_account</mat-icon>
          <span>Manage Users</span>
        </button>
        <button mat-menu-item routerLink="/manage-weather">
          <mat-icon>cloud</mat-icon>
          <span>Manage Weather</span>
        </button>
      </ng-container>
      <!-- Logout Button -->
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="accountMenu" aria-label="Account Menu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </ng-container>

  <!-- Guest Links: Login and Register inside Account Icon Menu -->
  <ng-template #guestLinks>
    <mat-menu #guestAccountMenu="matMenu">
      <button mat-menu-item routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item routerLink="/register">
        <mat-icon>person_add</mat-icon>
        <span>Register</span>
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="guestAccountMenu" aria-label="Account Menu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>
