<div style="margin-top: 20px;"></div>

<h2>Weather Data</h2>
<div class="cards-container">
  <app-card
    *ngFor="let card of paginatedWeatherCards()"
    [title]="card.title"
    [subtitle]="card.subtitle"
    [content]="card.content"
  ></app-card>
</div>

<mat-paginator
  [length]="weatherCards().length"
  [pageSize]="weatherPageSize"
  [pageSizeOptions]="[4, 8, 12]"
  (page)="onWeatherPageChange($event)">
</mat-paginator>

<h2>Products</h2>

<!-- Search Bar for Products -->
<div class="search-container">
  <input
    type="text"
    placeholder="Search products..."
    (input)="onSearchChange($event)"
    class="search-bar"
  />
</div>

<div class="products-container">
  <app-product-card
    *ngFor="let product of paginatedProducts()"
    [product]="product"
    [addToCart]="addToCart"
  ></app-product-card>
</div>

<mat-paginator
  [length]="filteredProducts().length"
  [pageSize]="productsPageSize"
  [pageSizeOptions]="[4, 8, 12]"
  (page)="onProductsPageChange($event)">
</mat-paginator>
