<!-- Search Bar for Products -->
<div class="search-container">
  <input
    type="text"
    placeholder="Search products..."
    (input)="onSearchChange($event)"
    class="search-bar"
  />
</div>

<div class="products-container">
  <app-product-card
    *ngFor="let product of paginatedProducts()"
    [product]="product"
    (addToCart)="addToCart($event)"
  ></app-product-card>
</div>

<!-- Load More Button -->
<div class="load-more-container">
  <button
    class="load-more-btn"
    *ngIf="loadedProductsCount < filteredProducts().length"
    (click)="loadMoreProducts()"
  >
    Load More
  </button>
</div>

<div style="margin-top: 100px;"></div>

<div class="cards-container">
  <app-card
    *ngFor="let card of weatherCards()"
    [title]="card.title"
    [subtitle]="card.subtitle"
    [content]="card.content"
  ></app-card>
</div>
