<!-- Search Bar -->
<app-search-bar (searchChange)="searchQuery.set($event)"></app-search-bar>

<!-- Product Cards -->
<div class="products-container">
  <app-product-card
    *ngFor="let product of paginatedProducts"
    [product]="product"
    (addToCart)="addToCart(product)"
  ></app-product-card>
</div>

<!-- Load More Button -->
<div class="load-more-container" *ngIf="paginatedProducts.length < productService.products.length">
  <button class="load-more-btn" (click)="loadMoreProducts()">
    Load More
  </button>
</div>
