<div class="cart-container">
  <div *ngIf="cartItems.length > 0; else emptyCart">
    <!-- Use the CartTableComponent -->
    <app-cart-table
      [cartItems]="cartItems"
      [totalPrice]="totalPrice"
      (removeItem)="removeItem($event)"
    ></app-cart-table>
    <button
      mat-raised-button
      color="primary"
      class="checkout-button"
      (click)="proceedToCheckout()"
      [disabled]="!(auth.currentUser)"
    >
      Proceed to Checkout
    </button>
  </div>
  <ng-template #emptyCart>
    <p class="empty-cart-message">Your cart is empty.</p>
  </ng-template>
</div>
